<div>
  <form action="" [formGroup]="loginForm">

    <input type="text" placeholder="name" formControlName="name"><br><br>
    <input type="text" placeholder="email" formControlName="email" maxlength="4"><br><br>
    <input type="text" placeholder="password" formControlName="password">

    <button type="submit" (click)="submit()" [disabled]="loginForm.invalid">Submit</button>
    <form [formGroup]="loginForm">
      <input type="text" placeholder=" firstName "><br><br>
      <input type="text" placeholder="lastName "><br><br>
      <input type="text" placeholder="full address "><br><br>
      <input type="text" placeholder="email full address"><br><br>
      <input type="text" placeholder="password"><br><br>
      <input type="text" placeholder="phone Number"><br><br>
      <input type="text" placeholder="mobile Number"><br><br>
      <input type="text" placeholder="pin number"><br><br>
      <button>login</button>

    </form>

</div>

<div>
  <h3>My name is gulab singh</h3>
  <table>

    <thead>
      <tr>
        <th>ID :</th>
        <th>Name :</th>
        <th>Email :</th>
        <th>Password :</th>
      </tr>
    </thead>
    <tbody *ngFor="let data of loginData">
      <tr>
        <!-- *ngIf="data.value">   -->
        <td>{{data.id}}</td>
        <td>{{data.name}}</td>
        <td>{{data.email}}</td>
        <td>{{data.password}}</td>
      </tr>
    </tbody>
  </table>
  <h3>my name gulab singh</h3>
  <button>new</button>
</div>