<div>
  <form [formGroup]="loginForm">
    <input type="text" placeholder=" first name "><br><br>
    <input type="text" placeholder="last name "><br><br>
    <input type="text" placeholder="full address "><br><br>
    <input type="text" placeholder="email full address"><br><br>
    <input type="text" placeholder="password"><br><br>
    <button>login</button>
  </form>
</div>
<div>
  <table>
    <thead>
      <tr>
        <th># :</th>
        <th>Name :</th>
        <th>father name </th>
        <th>mother name </th>
        <th>age</th>
        <th>education</th>
      </tr>
    </thead>
  </table>
</div>